* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
}

:root {
	--a4width: 2480px;
	--a4height: 3508px;
	--max-container-width: 40rem;
	--nav-height: 2em;
	--font-weight-p: 400;
	--font-weight-h3: 500;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

.cursor {
	position: absolute;
	width: 1.5em;
	height: 1.375em;
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;
}

.pagecontainer {
	padding: 0.5em;
	position: relative;
	margin-inline: auto;
	max-width: var(--max-container-width);
}

.nav {
	width: 100%;
	margin-block-start: 1em;
	min-height: var(--nav-height);

	& .nav_list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}

	& a {
		font-size: 1.5em;
	}

	& .active {
		text-decoration: underline !important;
	}
}

.header {
	width: 100%;
	margin-block-start: 2em;
	margin-block-end: 4em;

	& .information {
		position: relative;
		margin-inline: auto;
		margin-block-end: 2em;
		width: fit-content;
		text-align: center;

		@media screen and (min-width: 576px) {
			display: flex;
			align-items: center;
			gap: 1em;
		}
	}

	& .information_img {
		max-width: 15em;
		max-height: 15em;
		border-radius: 50%;
	}

	& .information_text {
		margin-block-end: 1.75em;

		& h1 {
			font-size: 2em;
			font-weight: bold;
			margin-block-end: 0.25em;
		}

		& p {
			font-size: 1.25em;
		}
	}


	& .information_socials {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		gap: 2em;
		list-style: none;
	}

	& .information_social {
		text-align: center;

		& img {
			max-height: 2em;
			margin-inline: auto;
		}

		& p {
			font-size: 1em;
			text-align: center;
		}
	}

	& .aboutme {
		max-width: 60ch;
		margin-inline: auto;
		font-weight: var(--font-weight-p);
	}
}

.highlighted {
	& h2 {
		text-align: center;
		margin-block-end: 1em;
		font-size: 1.25em;
	}
}

.highlight {
	margin-block-end: 0 !important;
}

.projects {
	margin-block-start: 2em;
}

.project {
	margin-block-end: 1.5em;

	& figure {
		position: relative;
		background: grey;
		border-radius: 1em;
		min-height: 20em;
		background-size: cover;
		background-position: center;
		box-shadow: 2px 1px 4px black;
	}

	& a {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		max-width: fit-content;
		margin: 0.5em;
		background: white;
		border-radius: 0.5em;
		border: 1px solid black;
		padding: 0.5em;
		font-size: 1.125em;
		text-align: center;
	}

	.project_about {
		padding: 0.75em;

		& p {
			font-weight: var(--font-weight-p);
		}
	}

	.project_titleDate {
		display: flex;
		justify-content: space-between;
		margin-block-end: 0.5em;

		& h3 {
			font-weight: var(--font-weight-h3);
			font-size: 1.125em;
		}

		& p {
			font-weight: var(--font-weight-p);
		}
	}
}

.footer {
	padding-inline: 0.5em;
	padding-block: 1em;
	text-align: center;
	color: #585858;
}

.pinkyh2{
    text-align: center;
	margin-top: 5em;
}

.pinkies{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em;
}

.pinkyimg{
	position: absolute;
}

.flip{
	right: 5em;
    transform: scaleX(-1);
}