* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

:root {
	--a4width: 2480px;
	--a4height: 3508px;
	--max-container-width: 30rem;
}

a {
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

.pagecontainer {
	position: relative;
	margin-inline: auto;
	max-width: var(--max-container-width);
}

.nav {
	width: 100%;
	margin-block-start: 1em;

	& .nav_list {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}

	& a {
		font-size: 1.5em;
	}

	& .active {
		font-weight: bold;
		text-decoration: underline !important;
	}
}

.header {
	width: 100%;
	margin-block-start: 3em;
	margin-block-end: 5em;

	& .information {
		position: relative;
		display: flex;
		align-items: center;
		gap: 1em;
		margin-inline: auto;
		margin-block-end: 2em;
		width: fit-content;
	}

	& .information_img {
		max-width: 15em;
		max-height: 15em;
		border-radius: 50%;
	}

	& .information_about {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 11em;
	}

	& .information_text {
		margin-block-end: 0.5em;

		& h1 {
			font-size: 1.75em;
			font-weight: bold;
			margin-block-end: 0.25em;
		}

		& p {
			font-size: 1.25em;
		}
	}


	& .information_socials {
		display: flex;
		gap: 1.5em;
		list-style: none;
	}

	& .information_social {
		text-align: center;
		position: relative;

		& img {
			max-height: 2em;
			margin-inline: auto;
		}

		& p {
			font-size: 0.75em;
			text-align: center;
		}
	}

	& .aboutme {
		max-width: 60ch;
		margin-inline: auto;
	}
}

.project {
	& h2 {
		text-align: center;
		margin-block-end: 1em;
		font-size: 1.125em;
	}

	& figure {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background: grey;
		border-radius: 1em;
		min-height: 18em;
		background-size: cover;
		background-position: center;

	}

	& a {
		max-width: fit-content;
		justify-self: flex-end;
		margin: 1em;
		background: white;
		border-radius: 0.5em;
		padding: 0.375em;
	}

	.project_about {
		padding: 0.75em;
	}

	.project_titleDate {
		display: flex;
		justify-content: space-between;
		margin-block-end: 0.25em;

		& h3 {
			font-size: 1.125em;
			font-weight: 400;
		}
	}
}
